<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Científico Mundo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color: black;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/Imagens PI/logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
                Científico Mundo
            </a>
            <form class="d-flex ms-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Pesquisar</button>
            </form>
            <a href="{% url 'cadastro_usuario' %}" class="btn btn-outline-light ms-2">Login/Entrar</a>
            <a href="{% url 'perfil' %}" class="btn btn-outline-light ms-2">Perfil</a>
        </div>
    </nav>

    <!-- Links abaixo da navbar -->
    <!-- <div class="container mt-3">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Validados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mais acessados</a>
            </li>
        </ul>
    </div> -->

    {% block content %}
    <!-- Lista de Artigos -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="row g-0">
                    {% for projetos in projetos %}
                    <a href="{% url 'projeto' %}" style="text-decoration: none;">
                        <div class="col-md-10">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Titulo: {{projetos.titulo}}</h5>
                                    <p class="card-text">{{projetos.resumo}}</p>
                                    <p class="card-text"><small class="text-muted">Autor: {{ projetos.usuario}}</small></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- o editar está enviando para página errada -->
                    <a href="{% url 'editar_projeto' projetos.id %}" class="btn btn-secondary">Editar</a>
                    <a href="{% url 'exclusao_projeto' projetos.id %}" class="btn btn-secondary">Excluir</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!-- Botão flutuante -->
    <a href="{% url 'cadastro_projeto' %}" class="btn btn-dark btn-lg position-fixed bottom-0 end-0 m-4 rounded-circle">
        <span class="fs-3">+</span>
    </a>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
