{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Importância da Divulgação Científica na Sociedade Moderna</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa; /* Cor de fundo */
        }
        header{
            padding-left:30% ;
            padding-right: 30%;
        }
        .header {
            background-color: #343a40; /* Cor do cabeçalho */
            color: white;
        }
        .article-title {
            margin-top: 20px;
            font-size: 24px;
            font-weight: bold;
        }
        .content-section {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="article-title text-center">
        <h2>{{projeto.titulo}}</h2>
        <p><strong>Autor: </strong>{{projeto.usuario}}</p>
        <p><strong>Orientador:</strong> {{projeto.orientador}}</p>
    </div>

    <div class="content-section">
        <img src="{{projeto.imagem.url}}" alt="imagem do artigo">

        <h3>Resumo</h3>
        <p>{{projeto.resumo}}</p>

        <h3>Introdução</h3>
        <p>{{projeto.introducao}}</p>

        <h3>Objetivos</h3>
        <p>{{projeto.objetivo}}</p>

        <h3>Metodologia</h3>
        <p>{{projeto.metodologia}}</p>

        <h3>Resultados</h3>
        <p>{{projeto.resultados}}</p>

        <h3>Conclusão</h3>
        <p>{{projeto.conclusao}}</p>
    </div>
    
    <footer class="text-center mt-5">
        <h4><strong>Validação</strong></h4>
        <p>{{projeto.validacao}}</p>
    </footer>
</div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
